.progresscon{
    height: 25px;
position: relative;
background-color: gray;
border-radius: 4px 4px 4px 4px;
}
.progresscon .bar{
    position: absolute;
    border-radius: 4px 4px 4px 4px;
    height: 100%;
    background-color: black;
    
}
.row{
    
    background-color: gainsboro;
    border-radius: 4px 4px 4px 4px;
    padding:  4px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.barchart{
    width: 0px;
    display: inline-block;
}
.table{

border-radius: 4px 4px 4px 4px;
display: inline-block;
height: 100%;
width: 100%;
}
.status{
     color: white;
    position:absolute;
     padding-top: 3px;
     padding-left: 20px;

}
#filebar{
        
    animation: bar 1s forwards;
   
}


@keyframes bar{
    0%{ width: 0%;}
    50%{width: 50%;}
    100%{width: 100%;}
    
}
@keyframes bar1{
    0%{ width: 0%;}
    

    100%{width: var(--widthchange);}
    
}
html{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
padding-top: 10px;
}
p{

    
}

.cont{
    
    text-align: center ;
    align-items: center;
    display: inline-blocks;
   
 
}
.hcon{
    display: inline-flexbox;
    text-align: center;

}
.logo{


transform: scale(0.5);

}
#input{


  cursor: pointer;
  border: 3px dashed black;
  padding: 10px 10px 10px 10px;
     height: 30px;
     width: 200px;
     border-radius: 10px;
}

.sep{
    height: 20px;

}
.con{
    text-align: center ;
    align-items: center;
    display: inline-blocks;
}

.header{
 display: inline-block;   
  text-align: center;

  
}