html{
        font-family: Arial, Helvetica, sans-serif;
font-size: medium;

font-weight: bold;
}
table{
    padding:20px 20px 20px 20px;
}
#logo{

  
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 30px;
    height: 30px;
    border-style: dashed;
    border-radius: 5px;
    border-color: rgb(35, 155, 67);
}
     

body{
    
    background: rgb(244, 251, 244);
    font-family: Arial, Helvetica, sans-serif;
}
#a1{
    height: 69px;
    width: 89px;
    
    
}

.input{
    display: inline-block;
    border-style: dashed;
    border-color: rgb(35, 155, 67);
    width: 300px;
    border-radius:3px; 
    height: 12px;
  
    padding: 40px 40px 40px 40px;
}
#tablediv{
    background-color: rgb(35, 155, 67);
}
header{
font-size: xx-large;
    color: rgb(75, 206, 5);
}

#form1{
    padding-top: 10px;
    display: inline-block;
    box-shadow: 3px 3px 8px;
    border-radius:3px;
    
}
div{
    
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    
    
    color: rgb(0, 0, 0);   
    box-shadow: 0px -2px 20px rgb(60, 60, 60);
    border-radius: 5px;
    
}
#divfooter{


text-align: left;
padding-left: 12px;
padding-top: 19px;
padding-bottom: 19px;

border-style: dashed;
border-color: rgb(35, 155, 67);
}

#sep{
    padding-top: 10px;
}
#statusdiv{
    color: rgb(0, 0, 0);   
    box-shadow: 0px -2px 20px rgb(60, 60, 60);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 50px;
    
    border-style: dashed;
    border-color: rgb(35, 155, 67);
}
#content{

    color: rgb(0, 0, 0);   
    box-shadow: 0px -2px 20px rgb(60, 60, 60);
    border-radius: 5px;
    padding-bottom: 50px;
   
    border-style: dashed;
    border-color: rgb(35, 155, 67);
}

#sepcontent{
    padding-top: 10px;
    
}
.te{
display: inline-block;
}
.content{

    display: inline-block;
    text-align: center;
}
body{
    text-align: center;
}